.jumbotron {
  padding-top: 1rem;
  background-color: #232528;
  color: white;
}

.jumbotron img {
  width: 300;
}


#project {
  background-color: #abc5d8;
}

#contact {
  background-color: #273036;
  color: white;
}

.foot {
  background-color: #3e3e50;
}

section{
    padding-top: 5rem;
}

svg{
  transform: translateY(2px);
}

.card:hover{
  background-color: #dad491;
  cursor: pointer;
  transition: 0s;
  color: rgb(32, 33, 57);
}

.card-img-top{
  width: 50%;
  height: 80%;
  margin: 0 auto;
}

.card{
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  border-radius: 2em;
  border: none;
  background-color: #F6F6F6;
}

#About{
  background-color: #a2b2c7;
}

.btn-kirim:hover{
  color: #fbff00;
}